
/* Estilos generales*/

body{
    background-color: rgb(248, 248, 248);
    font-family: 'Montserrat', sans-serif;
}

/* estilos de vínculos */

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

/*Estilos para el header*/

header{
    background-image: linear-gradient(to bottom right, rgb(148, 148, 148), rgb(148, 148, 148, 0));
    padding-top: 1rem;
}

header h1{
    background-color: rgb(248, 248, 248, 0.7);
    border: solid;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
}

header h1:hover{
    box-shadow: 1px 1px 5px black;
    background-color: rgb(248, 248, 248);
}

.botones-redes{
    display: none;
}

.navegador-links{
    background-color: rgb(248, 248, 248, 0.5);
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-top: 0.5rem;
    transition: 0.4s;
}

.navegador-links:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 5px black;

}

/* estilos generales para el main */

main h2{
    margin: 1rem;
    font-weight: bold;
}

main h3{
    text-align: center;
    margin: 1rem;
}

main img{
    width: 50%;
    margin: 3rem;
}

.espaciado-parrafos{
    display: block;
}

/*Estilos del main en home*/

.main-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .imagen-perfil{
    width: 80%;
    margin: 3rem;
}

/*Estilos del main en about*/

.main-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-parrafo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 60, 66);
    color: rgb(248, 248, 248);
    padding: 3rem;
}

.info-parrafo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 216, 216);
    padding: 3rem;
}

.about-img{
    display: none;
}

/* Estilos del main en listen*/

.foto-listen{
    display: none;
}

.main-listen section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 3rem;

}

.seccion-uno{
    background-color: rgb(43, 60, 66);
    color: rgb(248, 248, 248);
    
}

.seccion-tres{
    background-color: rgb(43, 60, 66);
    color: rgb(248, 248, 248);
    
}

.seccion-cinco{
    background-color: rgb(43, 60, 66);
    color: rgb(248, 248, 248);
   
}

/*Estilos del main para works*/

.main-works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

main .lista-obras{
    display: flex;
    justify-content: center;
}

main table{
    width: 80%;

}

main table tr td{
    padding: 1rem;
}


/* Negrilla para una de las celdas de la tabla en works */

.tabla-bold{
    font-weight: bold;
}

/*Estilos para el main de contact*/

.main-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* estilos de formulario */

input[type=text]{
    margin: 0.5rem;
    width: 70%;
}

input[type=email]{
    margin: 0.5rem;
    width: 70%;
}

input[type=submit]{
    margin: 0.5rem;
}

input[type=reset]{
    margin: 0.5rem;
}

textarea{
    margin: 0.5rem;
    width: 70%;
}



/*estilos para el aside del home en versión móvil*/

aside{
    display: none;
}



/* estilo del footer */

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
}

/*estilo botones redes sociales versión móvil*/

.botones-redes-movil{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.redes-imagenes-movil{
    background-color: rgb(148, 148, 148, 0.3);
    border-radius: 0.5rem;
    width: 70%;
    padding: 0.5rem;
    transition: 0.4s;
}

.redes-imagenes-movil:hover{
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 5px black;
}

/*Estilos para tablet*/

@media screen and (min-width:600px){
    
    /*Estilos para el header */

    .botones-redes{
        display: block;
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }
    
    .redes-imagenes{
        background-color: rgb(148, 148, 148, 0.5);
        border-radius: 0.5rem;
        width: 70%;
        padding: 0.5rem;
        transition: 0.4s;
    }
    
    .redes-imagenes:hover{
        background-color: rgb(248, 248, 248);
        box-shadow: 1px 1px 5px black;
    }
    
    /*Estilos para el main en contact*/

    .main-contact{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 10fr;

        /*grid template areas*/
        grid-template-areas: 
            "titulo titulo"
            "img form";
    }

    .titulo-contact{
        grid-area: titulo;
        text-align: center;
    }

    .img-contact{
        grid-area: img;
        width: 70%;
        
    }

    .contact-form{
        grid-area: form;
       
    }

    /* Estilos para el footer*/

    .botones-redes-movil{
        display: none;
    }
}

/*Estilos para escritorio*/

@media screen and (min-width:1024px){
    .container-home{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
    
        /*grid template areas*/
        grid-template-areas: 
            "header header"
            "home aside"
            "footer footer";
    }

    .main-listen{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;

        /*grid template areas*/
        grid-template-areas: 
            "tlisten flisten"
            "sec1 sec2"
            "sec4 sec3"
            "sec5 sec6";
    }
    
    /* Estilos para el header*/

    header{
        grid-area: header;
    }

    /* Estilos para el main */ 
    .main-home{
        grid-area: home;
    }

    .info-about{
        display: flex;
    }

    .about-img{
        display: inline;
    }

    .container-titulo-listen{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titulo-listen{
        grid-area: tlisten;
    }
    .foto-listen{
        display: inline;
        grid-area: flisten;
        width: 100%;
        margin: 0;
    }

    .seccion-uno{
        grid-area: sec1;
    }

    .seccion-dos{
        grid-area: sec2;
    }

    .seccion-tres{
        grid-area: sec3;
    }

    .seccion-cuatro{
        grid-area: sec4;
    }

    .seccion-cinco{
        grid-area: sec5;
    }

    .seccion-seis{
        grid-area: sec6;
    }

    /*Estilos para la barra lateral del home*/

    aside{
        background-color: rgb(43, 60, 66);
        color: rgb(248, 248, 248);
        grid-area: aside;
        display: flex;
        margin-top: 3rem;
        margin-right: 2rem;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .resaltar-noticia{
        font-weight: bold;
    }

    /* Estilos para el footer*/

    footer{
        grid-area: footer;
    }
    
}